USE [VictorShop]
GO
/****** Object:  User [prog]    Script Date: 28.05.2023 17:36:22 ******/
CREATE USER [prog] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[OrderDeliveryDate] [date] NOT NULL,
	[OrderPickupPoint] [int] NOT NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK__Order__C3905BAF8C433B14] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_data]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_data](
	[user_data_id] [int] NOT NULL,
	[secondname_user] [nvarchar](255) NOT NULL,
	[name_user] [nvarchar](255) NOT NULL,
	[patronymic_user] [nvarchar](255) NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_user_data] PRIMARY KEY CLUSTERED 
(
	[user_data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoint]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoint](
	[id] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Лист1$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrdersView]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OrdersView]
AS
SELECT        dbo.[Order].OrderID, dbo.user_data.name_user, dbo.user_data.secondname_user, dbo.[Order].OrderDeliveryDate, dbo.PickupPoint.address, dbo.OrderStatus.status, dbo.[Order].OrderStatus
FROM            dbo.[Order] INNER JOIN
                         dbo.OrderStatus ON dbo.[Order].OrderStatus = dbo.OrderStatus.id INNER JOIN
                         dbo.user_data ON dbo.[Order].user_id = dbo.user_data.user_data_id INNER JOIN
                         dbo.PickupPoint ON dbo.[Order].OrderPickupPoint = dbo.PickupPoint.id
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderID] [int] NOT NULL,
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[NumberProduct] [int] NOT NULL,
 CONSTRAINT [PK__OrderPro__817A2662270AC826] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductDescription] [nvarchar](100) NOT NULL,
	[ProductCategory] [nvarchar](100) NOT NULL,
	[ProductPhoto] [image] NULL,
	[ProductManufacturer] [nvarchar](max) NOT NULL,
	[ProductCost] [decimal](19, 4) NOT NULL,
	[ProductDiscountAmount] [tinyint] NULL,
	[ProductQuantityInStock] [int] NOT NULL,
	[ProductStatus] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Product__2EA7DCD52B80B351] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[PorductListView]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PorductListView]
AS
SELECT        dbo.[Order].OrderID, dbo.Product.ProductName, dbo.Product.ProductDescription, dbo.OrderProduct.NumberProduct, dbo.Product.ProductCost
FROM            dbo.[Order] INNER JOIN
                         dbo.OrderProduct ON dbo.[Order].OrderID = dbo.OrderProduct.OrderID INNER JOIN
                         dbo.Product ON dbo.OrderProduct.ProductArticleNumber = dbo.Product.ProductArticleNumber
GO
/****** Object:  Table [dbo].[user_auth]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_auth](
	[user_account_id] [int] NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_user_auth] PRIMARY KEY CLUSTERED 
(
	[user_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[auth_view]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[auth_view]
AS
SELECT        dbo.user_auth.user_account_id, dbo.user_data.role, dbo.user_auth.Password, dbo.user_auth.Login
FROM            dbo.user_auth INNER JOIN
                         dbo.user_data ON dbo.user_auth.user_account_id = dbo.user_data.user_data_id
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[role_id] [int] NOT NULL,
	[role] [nchar](10) NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint], [user_id]) VALUES (32, 1, CAST(N'2023-05-27' AS Date), 3, 1)
INSERT [dbo].[Order] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint], [user_id]) VALUES (34, 3, CAST(N'2023-05-27' AS Date), 3, 1)
INSERT [dbo].[Order] ([OrderID], [OrderStatus], [OrderDeliveryDate], [OrderPickupPoint], [user_id]) VALUES (35, 2, CAST(N'2023-05-27' AS Date), 2, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderProduct] ([OrderID], [ProductArticleNumber], [NumberProduct]) VALUES (32, N'7', 1)
INSERT [dbo].[OrderProduct] ([OrderID], [ProductArticleNumber], [NumberProduct]) VALUES (34, N'7', 0)
INSERT [dbo].[OrderProduct] ([OrderID], [ProductArticleNumber], [NumberProduct]) VALUES (35, N'2', 1)
GO
INSERT [dbo].[OrderStatus] ([id], [status]) VALUES (1, N'В обработке')
INSERT [dbo].[OrderStatus] ([id], [status]) VALUES (2, N'Готово')
INSERT [dbo].[OrderStatus] ([id], [status]) VALUES (3, N'Закрыто')
GO
INSERT [dbo].[PickupPoint] ([id], [address]) VALUES (1, N'344288, г. Талнах, ул. Чехова, 1')
INSERT [dbo].[PickupPoint] ([id], [address]) VALUES (2, N'614164, г.Талнах,  ул. Степная, 30')
INSERT [dbo].[PickupPoint] ([id], [address]) VALUES (3, N'394242, г. Талнах, ул. Коммунистическая, 43')
GO
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'1', N'Ложка', N'Сталь', N'Столовый Прибор', NULL, N'Лесной', CAST(100.0000 AS Decimal(19, 4)), 10, 1, N'1')
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'2', N'Ложка суповая', N'Легированная Сталь', N'Столовый прибор', NULL, N'Екатеринбруг', CAST(200.0000 AS Decimal(19, 4)), 16, 2, N'1')
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategory], [ProductPhoto], [ProductManufacturer], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock], [ProductStatus]) VALUES (N'3', N'Набор Вилок', N'Сталь', N'Столовый прибор', NULL, N'Екатеринбруг', CAST(2020.0000 AS Decimal(19, 4)), 16, 2, N'1')
GO
INSERT [dbo].[user_auth] ([user_account_id], [Login], [Password]) VALUES (1, N'1', N'1')
INSERT [dbo].[user_auth] ([user_account_id], [Login], [Password]) VALUES (2, N'2', N'2')
INSERT [dbo].[user_auth] ([user_account_id], [Login], [Password]) VALUES (3, N'3', N'3')
GO
INSERT [dbo].[user_data] ([user_data_id], [secondname_user], [name_user], [patronymic_user], [role]) VALUES (1, N'Ефремов ', N'Сергей', N'Пантелеймонович', 1)
INSERT [dbo].[user_data] ([user_data_id], [secondname_user], [name_user], [patronymic_user], [role]) VALUES (2, N'Родионова ', N'Тамара', N'Валентиновна', 1)
INSERT [dbo].[user_data] ([user_data_id], [secondname_user], [name_user], [patronymic_user], [role]) VALUES (3, N'Миронова ', N'Галина', N'Улебовна', 2)
GO
INSERT [dbo].[user_role] ([role_id], [role]) VALUES (1, N'Client    ')
INSERT [dbo].[user_role] ([role_id], [role]) VALUES (2, N'Manager   ')
INSERT [dbo].[user_role] ([role_id], [role]) VALUES (3, N'Admin     ')
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatus])
REFERENCES [dbo].[OrderStatus] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PickupPoint] FOREIGN KEY([OrderPickupPoint])
REFERENCES [dbo].[PickupPoint] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PickupPoint]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_user_data] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_data] ([user_data_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_user_data]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__Order__71D1E811] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__Order__71D1E811]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK__OrderProd__Produ__72C60C4A] FOREIGN KEY([ProductArticleNumber])
REFERENCES [dbo].[Product] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK__OrderProd__Produ__72C60C4A]
GO
ALTER TABLE [dbo].[user_data]  WITH CHECK ADD  CONSTRAINT [FK_user_data_user_auth] FOREIGN KEY([user_data_id])
REFERENCES [dbo].[user_auth] ([user_account_id])
GO
ALTER TABLE [dbo].[user_data] CHECK CONSTRAINT [FK_user_data_user_auth]
GO
ALTER TABLE [dbo].[user_data]  WITH CHECK ADD  CONSTRAINT [FK_user_data_user_role] FOREIGN KEY([role])
REFERENCES [dbo].[user_role] ([role_id])
GO
ALTER TABLE [dbo].[user_data] CHECK CONSTRAINT [FK_user_data_user_role]
GO
/****** Object:  StoredProcedure [dbo].[AddNewOrder]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewOrder]
    @OrderDate Date,
    @PickupPoint integer,
    @Account int,
    @OrderId INT OUTPUT
	AS
BEGIN
    INSERT INTO "dbo"."Order" (OrderStatus,OrderDeliveryDate,OrderPickupPoint,user_id) VALUES (1,@OrderDate,@PickupPoint,@Account);
    SET  @OrderId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddNewOrderProduct]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[AddNewOrderProduct]
    @ProductId Int,
    @OrderId Int,
    @ProductNumber int
	AS
BEGIN
    INSERT INTO "dbo"."OrderProduct" (OrderID,ProductArticleNumber,NumberProduct) VALUES (@OrderId,@ProductId,@ProductNumber);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Login] 
  @Username NVARCHAR(50), 
  @Password NVARCHAR(50),
  @AccountType INT OUTPUT,
  @AccountId int OUTPUT
AS 
BEGIN 
  SET NOCOUNT ON; 
  
  SELECT @AccountType = [role] FROM auth_view WHERE auth_view.[Login] = @Username AND auth_view.[Password] =  @Password
  SELECT @AccountId = [user_account_id] FROM auth_view WHERE auth_view.[Login] = @Username AND auth_view.[Password] =  @Password
  IF @AccountType IS NOT NULL 
  BEGIN 
    SELECT 1 AS [LoginResult]; 
  END 
  ELSE 
  BEGIN 
    SELECT 0 AS [LoginResult]; 
  END 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatus]    Script Date: 28.05.2023 17:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatus]
    @Id int,
    @IsDone int
AS
BEGIN
    UPDATE "dbo"."Order" SET OrderStatus = @IsDone WHERE OrderID = @Id;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "user_auth"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "user_data"
            Begin Extent = 
               Top = 33
               Left = 404
               Bottom = 163
               Right = 588
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'auth_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'auth_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Order"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "OrderStatus"
            Begin Extent = 
               Top = 143
               Left = 571
               Bottom = 239
               Right = 741
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "user_data"
            Begin Extent = 
               Top = 181
               Left = 287
               Bottom = 311
               Right = 471
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "PickupPoint"
            Begin Extent = 
               Top = 193
               Left = 74
               Bottom = 289
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OrdersView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OrdersView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Order"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 144
               Left = 440
               Bottom = 274
               Right = 662
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "OrderProduct"
            Begin Extent = 
               Top = 6
               Left = 689
               Bottom = 119
               Right = 898
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PorductListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PorductListView'
GO
